@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

a {
    color: #da3127;
    text-decoration: none;
}

.content-wrapper {
    width: 70%;
    height: 100%;
    margin: auto;
    margin-top: 20px;
    padding: 3%;
    padding-top: 3%;
    padding-bottom: 7%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

h1 {
    color: #da3127;
}

.text-centered {
    text-align: center;
}

.content {
    margin-top: 20px;
}

.section-left {
    margin: 2%;
    width: 34%;
    float: left;

}

.section-left img {
    width: 80%;
    margin-left: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.section-right {
    float: left;
    width: 60%;
}

p {
    width: 98%;
    padding-right: 2%;
}

ul {
    list-style-type: none;
    padding-left: 10px;
}

ul li {
    margin: 5px 0px;
}

.contact {
    width: 80%;
}

.clear {
    clear: both;
}


@media only screen and (max-width: 600px) {
    .content-wrapper {
        width: 90%;
        padding: 2%;
        padding-bottom: 5%;
        box-shadow: none;
    }
    .section-left {
        width: 100%;
    }

    .section-left img {
        width: 35%;
        margin-left: 30%;
    }

    .section-right {
        width: 100%;
    }
}
